{% extends 'core/base.html'%}

{% block title %}About | {% endblock %}

{% block content %}
    <h1 style="font-size: 40px"> About TechAvtar </h1>
    <p>Welcome to TechAvtar, your go-to source for the latest in technology and IT insights. At TechAvtar, we are passionate about bringing you the most up-to-date information, tutorials, and tips & tricks to help you navigate the ever-evolving world of technology.<br><br>

    <h2 style="font-size: 20px">Our Mission</h2>

    Our mission is to empower our readers with the knowledge they need to excel in the tech industry. Whether you're a seasoned IT professional or a tech enthusiast, TechAvtar is here to provide valuable content that enhances your skills and keeps you informed.<br><br>


    <h2 style="font-size: 20px">What We Offer</h2>

    <ul>
        <li>In-Depth Blogs: Stay informed with our comprehensive articles covering the latest trends, developments, and innovations in the tech world.</li>
        <li>Detailed Tutorials: Learn new skills and master complex topics with our step-by-step tutorials designed to make tech accessible to everyone.</li>
        <li>Practical Tips & Tricks: Discover useful tips and tricks to improve your productivity, troubleshoot common issues, and make the most of your tech gadgets and software.</li>
    </ul>
    <br><br>

    <h2 style="font-size: 20px">Join Our Community</h2>

    TechAvtar is more than just a blog; it's a community of like-minded individuals who share a passion for technology. Connect with us through our social media channels, leave comments on our posts, and engage in discussions to share your thoughts and learn from others.

    Thank you for visiting TechAvtar. We hope you find our content informative, engaging, and useful. Stay tuned for regular updates and continue your tech journey with us!</p>
{% endblock %}